
.mat-form-field {
   font-size: 15px;
   width: 90%;
}

table{
    width: 100%;
}

.spacio{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.boton-s{
    display: flex;
    justify-content: center;
    width: 130px;
    padding-left: 5%;
    padding-top: 3%;
}

.conte{
    text-align: left ;
}

.f-size{
   font-size:medium;
}

.filnum{
   width: 10%;
}

.filnom{
   width: 20%;
}

.filcor{
   width: 20%;
}

.filrfc{
   width: 20%;
}

.filacc{
   width: 30%;
}

