    .f-size{
       font-size:medium;
    }

    .mat-form-field {
        font-size: 15px;
        width: 90%;
    }

    .boton-s{
        display: flex;
        justify-content: center;
        width: 130px;
        padding-left: 5%;
        padding-top: 3%;
    }

    .conte{
        text-align: left ;
    }

    .spacio{
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 3%;
        padding-bottom: 5%;
    }

    table{
        width: 100%;
    }