.boton-s{
    display: flex;
    justify-content: center;
    width: 140px;
    padding-left: 5%;
    padding-top: 3%;
}

.mat-form-field {
    font-size: 15px;
    width: 90%;
}

table{
    width: 100%;
}

.spacio{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.conte{
    text-align: left ;
}

.f-size{
   font-size:medium;
}

.filnum{
    width: 15%;
}
 
.filnom{
    width: 20%;
}
 
.filpre{
    width: 20%;
}
 
.filcos{
    width: 20%;
}
 
.filact{
    width: 25%;
}