<h1 mat-dialog-title> {{ cliente!=null ? 'Editar Cliente' : 'Nuevo Cliente'}}</h1>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre </mat-label>
      <input matInput [(ngModel)]="nombre">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Correo </mat-label>
      <input matInput [(ngModel)]="correo">
    </mat-form-field>
    <mat-form-field>
      <mat-label>RFC </mat-label>
      <input matInput [(ngModel)]="rfc">
    </mat-form-field>
</div>
<div mat-dialog-actions>
   <button mat-raised-button (click)="close()">Cancelar</button>
   <button mat-raised-button color="primary" 
   (click)="cliente!= null ? editCliente() : addCliente()">Guardar</button>
</div>