.container { height: 100%; }

.button-containers{
    display: flex;
    justify-content: center;
    width: 120px;
  }

.globaltwo{  
    //height: 610px;
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}

.boton-s{
    padding-left: 50px;
    padding-top: 50px;
}

img{
    height: auto;
}
:hover.hov{
    cursor: pointer !important;
}
